/* @media (max-width: 1200px)

@media (max-width: 991px)
	
@media (max-width: 767px) */
	
@media (max-width: 575px)
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&_logo {
		width: 200px;
		img {
			width: 100%;
		}
}
	
